# .gitignore
*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/
scratch/
README_files/
!README.md
codeweaver/
run_codeweaver.bat
test_env/
**/Manifest.toml
**/*.jl.*.cov
**/*.jl.cov
**/*.jl.mem
.vscode/
run_codeweaver.bat
